.media {
    text-align: center;
}


.media_img {
    width: 400px;
    height: 400px;
    border: 5px solid orange;
    display: block;
    margin: auto;

}

.h4 {
    color: red;
    border: 2px solid red;
    padding: 2px;
    text-align: center;
    width: 900px;
    margin: auto;
    margin-bottom: 10px;
}

table {
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

table tr th {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

table tr td {
    padding: 4px;
    text-indent: 9px;
}

.lion_img {
    border: 5px solid orange;
    width: 400px;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 60px;
}